* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
body {
  width: 100%;
}

#hero { 
  width: 100%;
  padding: 0px px;
    display: flex;
    flex-direction: column;
    background-image: url(images/headphones_hero_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.nav {
    display: flex;
    padding: 30px 20px;
    align-items: center;
    justify-content: space-between;
    
}

ul {
    display: flex;
    gap: 20px;
   
    
}

li {
    list-style: none;
}
ul li a {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
    text-decoration: none;
  color: white;
}

.h1text { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 0px;
    color: white;
    gap: 1.5px;
    margin-top: 250px;
}
.h1text h1 {
  font-size: 24px;
}

.h1text p {
  font-size: 12px;
  font-weight: 400;
}
.herobutton{
  border-radius: 20px;
  padding:15px 20px;
  background-color: red;
  border: none;
  align-items: center;
  margin-top: 25px;

  
}
.herotext {
    color: white;
   text-align: center;
   padding: 40px;
   font-size: 12px;
   font-family: sans-serif;
   font-weight: 200;
   padding-bottom: 100px;
}

/* what to do section */

#whatwedo {
     display: flex;
     flex-direction: column;
     width: 100%;
    
    gap: 40px;
    text-align: center;
    line-height: 1.5em;
    align-items: center;
    justify-content: center;
    /* padding: 50px 40px; */
    
}

.whatwedotext p {
  font-size: smaller;
 margin-top: 15px;
}

.icon_card {
   display: flex;
    /* gap: 20px; */
    /* width: 80%; */
    align-items: center;
     align-content:space-around;
    
}

.card {
  display: flex;
  flex-direction: column;
  border: 3px black dotted;
  width: 20px;
  height: 250px;
  align-items: center;
  justify-content: space-between;
  
}

.card img {
    /* width: 300px;
    height: 150px; */
    margin-bottom: 30px;
  }



 /* 📱 Mobile Styles (max-width: 480px) */

 @media only screen and (max-width: 480px) {


  /* nav line  */

  

  /* hero text  */
.h1text { 
     margin-top: 0px;
    }

.h1text h1 {
  font-size: 18px;
}
/* what we do */
 #whatwedo {
  padding: 50px 10px;
  
 } 
 .whatwedotext {
  width: 100%;
 }
 .icon_card {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
 }
 .card {
  width: 100%;
  max-width: 350px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
 }
 }
 
    /* 📱📲 Tablet Styles (481px - 1000px) */

@media only screen and (min-width: 481px) and (max-width: 1000px) {

 
/* what we do */
 #whatwedo {
  width: 100%;
  padding: 50px 0px;
margin: auto;
 } 
 .whatwedotext {
  width: 80%;
  padding: 10px;
 }
 .icon_card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-around;
 }
 .card {
  width: 50%;
  max-width: 250px;
  height: 300px;
  border-radius: 10px;
  margin: 30px 0;
  align-content: center; 
 }
}